/* a 요소 중에서 href 속성값이 있는 요소만 적용 */
/* [속성] 선택자 */
a[href] {
  background-color: pink;
  border: 1px solid black;
  font-weight: bolder;
}

/* href 속성 값이 https:// naver.com인 요소만 적용 */
/* [속성 = 값] 선택자 */
a[href = "https://naver.com"] {
  text-decoration: none;
}
/*text-decoration : a 태그 기본으로 적용되는 밑줄이 없어짐 */

/* class 속성에 button 값이 있는 요소를 찾는 선택자 */
/* [속성 ~= 값] 선택자 */
li {
  list-style: none;
  margin: 10px;
}

[class ~= "button"] {
  color: white;
}

/* 외국어 서비스 예제 */
/* [속성 |= 값] 선택자 */
a[title |= us] {
  background-color: beige;
}

a[title |= chn] {
  background-color: green;
}

