.current-page-container {
  background-color: rgb(255, 248, 229);
  margin: 0;
  padding: 0;
  height: 100vh; 
  /* 화면에 따라 full로 채우기 */
  display: flex;
  justify-content: center;
  /* 가로 가운데 정렬 */
  /* align-items: center; 세로 가운데 정렬*/
}

.addgame-title {
  padding: 20px 0;
}

.addgame-container {
  font-size: 20px;
  margin: 0 auto;
}

.addgame-container label {
  display: flex;
  align-items: center;
  margin-bottom: 10px;

}

.addgame-container label span {
  width: 140px; /* 라벨의 너비를 조절할 수 있습니다. */
  margin-right: 10px;
}

.input-size {
  width: 600px;
}

.addgame-title {
  text-align: center;
}

.addgame-container input[type="text"],
.addgame-container input[type="number"],
.addgame-container input[type="date"],
.addgame-container select {
  font-size: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 5px;
}

.addgame-container input[type="file"] {
  font-size: 20px;

}

.addgame-container select option {
  font-size: 20px;
  /* 높이 조절을 통해 옵션 내용에 대한 스타일을 적용합니다. */
  height: 30px;
}

.add-button {
  display: block;
  margin: 0 auto;
  border-radius: 5px;
  padding: 5px 70px;
  font-size: 20px;
  background-color: rgb(244, 177,131);
  color: white;
}