.filter-color {
  background-color: rgb(247, 247, 247);
}

.filter-container {
  display: grid;
  grid-template-columns: 1fr 5fr; /* 1:5 ratio */
  justify-content: center;
  align-items: center;
  margin: 0 20%;
  text-align: center;
  gap: 20px;
}



.filter-console span,
.filter-type span {
  display: inline-block;
  width: 50px; 
}

.filter-console ul {
  list-style: none;
  text-align: center;
  display: inline-block;
}

.filter-console ul li,
.filter-type ul li {
  display: inline;
}

.filter-type ul {
  list-style: none;
  text-align: center;
  display: flex;
  flex-wrap: wrap; /* 요소들을 여러 줄에 나눠 표시합니다. */
  justify-content: center; /* 가로 정렬을 중앙으로 설정합니다. */
}

.filter-type ul li {
  display: inline;
  margin: 2px;
  padding: 2px;
  width: 15%; /* 각 항목이 5개씩 들어가도록 너비를 설정합니다. */
}