<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>중첩된 flex box 실습</title>
  <link rel="stylesheet" href="styles/a_flex_practice.css">
</head>
<body>
  <header>
    <h1>Complex flexbox example</h1>
  </header>

  <section>
    <article>
      <h2>First article</h2>
      <p>First Pargraph</p>
    </article>

    <article>
      <h2>Second article</h2>
      <p>Second Paragraph</p>
    </article>

    <article id="last-article">
      <div id="first-div">
        <button>Smile</button>
        <button>Laugh</button>
        <button>Wink</button>
        <button>Shrug</button>
        <button>Blush</button>
      </div>
      <div>
        <p>Tacos actually microdosing, pour-over semiotics banjo chicharrones retro fanny pack portland everyday carry vinuyl typewriter. Tacos PVR&B pork belly. everyday carry ennui pickled sriracha normcore hashtag polaroid sigle-origin coffee cold-pressed. PBR&B tattooed trust fund twee, leffinfs salavia iPhone photo booth health goth fastropub hammock. </p>
      </div>
      <div>
        <p>Cray food truck brunch, XOXO +1 keffiyeh picked chambray waistcoat ennui. Organic small batch paleo 8-bit. Interlligentsia ummami wayfarers picked, asymmetrical kombucha letterpress kitsch leffinfs cold-pressed squid chartreuse put a bird on it. Listicle pickled man bun cornhole heirloo, art party.</p>
      </div>
    </article>

  </section>
</body>
</html>